config SEC_HAPTIC
	tristate "sec haptic"
	default n
	depends on SEC_SYSFS
	help
	  If you say yes here you will get support for the
	  sec haptic driver.
	  To enable this driver, SEC_SYSFS should be enabled and
	  motor driver calls this driver.
